/* .container{
    display:flex;
    justify-content: center;
    max-width:auto;
    align-items:center;
}
.container{
    position: relative;
    padding: 2rem;
   min-width: 700px;
   background-color: #11073da6
} */
.cancelbtn,.signupbtn{
    width:20%;
    margin:2rem;

}
